.navbar {
    background-color: #060b26;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar link {
    padding: 20%;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}
