.App {
  text-align: center;  
}

body {

  background: rgb(18,204,207);
  background: linear-gradient(0deg, 
    rgba(18,204,207,0.7287115529805672) 0%, 
    rgba(0,130,255,0.6418768190870099) 100%); 
  width: auto;
  min-height: 100vh;
}


.shipment-link, input {

  background-color: rgb(43, 76, 226);
  border: 2px;
  border-radius: 8px;
  opacity: 80%;
  margin: 1vh;
  padding: 1vh;
  color: white;
}

.shipment-container {
  display: flex;
  flex-direction: column;  
  max-width: 740px;
  margin: auto;
}


.shipment-link:hover {
  opacity: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
  list-style: none;
}